body {
    background: rgb(214, 200, 185);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
    object-fit: contain;
    border: solid 2px rgb(128, 142, 105);
}

h1 {
    font-family:'Abril Fatface', cursive;
    font-size: 52px;
    color: rgb(87, 33, 7)
}

h2 {
    font-family: 'Unna', serif;
    font-weight: bolder;
    color: rgb(87, 33, 7)
}

p {
    text-align: left;
    font-size: 16px;
    color: rgb(87, 33, 7);
    
}
p:hover {
    text-decoration: underline;
    color: rgb(69, 57, 55)
}

a {
    text-decoration: none;
}
em:hover {
    text-decoration: underline;
}
.row {
    text-align: center;
    padding: 2%;
}
.card {
    border: solid 2px rgb(128, 142, 105);
}
.card-text {
    padding-top: 30px;
}
.bg-primary {
    background-color:rgba(157, 130, 108,0.6)!important;
}

.bg-white:hover {
    transition: 1s ease background;
    background: linear-gradient(180deg, rgba(205,209,164,1) 0%, rgba(161,165,105,1) 100%)!important;
}

.bg-white:not(hover) {
    transition: 1s ease background;
    background: linear-gradient(180deg, rgba(161,165,105,1) 0%, rgba(205,209,164,1) 100%)!important;
}
