body {
    background-image: url(media/4853433.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
    object-fit: contain;
}

.row {
    text-align: center;
}
.card {
    border: none;
}